#ulTasks li.done{
    color: #6c757d;
    text-decoration: line-through;
}
h1{
    text-align: center;
    text-decoration: underline;
}
body{
    background-color: #CDF0EA;
}
li{
    margin-top: 10px;
    margin-bottom: 10px;
}